<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="calculadora" class="com.example.Calculadora" scope="prototype">
    </bean>


    <bean id="gestorFacturas" class="com.example.GestorFacturas">
        <constructor-arg name="calculadora" ref="calculadora" />
        <constructor-arg name="nombre" value="Facturator 3000" />

    </bean>



</beans>

